<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- Custom functions -->
    <script type="text/javascript" src="{{ url_for('static', filename='wpapi.js') }}"></script>

    <!-- TITLE HERE -->
    <title>SuperWalla</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- HEADER -->
        <div class="col-md-12" style="background-color:purple;">
          HEADER
        </div>

        <!-- FILTERS HERE -->
        <div class="col-md-3" style="background-color:grey;">
          <!-- DATE -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Published</span>
            </div>
            {% set selected = params.publishDate %}
            <select id="date-filter" class="custom-select">
              {% for key, value in date.items() %} 
                {% if selected|string() == key|string() %}
                  <option selected value="{{ key }}">{{ value }}</option>
                {% else %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          <!-- ORDER BY -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Order by </span>
            </div>
            <select id="order-filter" class="custom-select">
            {% set selected = params.order %}
              {% for key, value in order.items() %} 
                {% if selected|string() == key|string() %}
                  <option selected value="{{ key }}">{{ value }}</option>
                {% else %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <!-- SEARCH -->
          <form action="/api/search" method="get">
            <div class="input-group mb-3">
              <input type="text" placeholder="search" value="{{ request.args.get("kws", "") }}" class="form-control" id="kws" name="kws">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary float-right">GO!</button>
              </div>
            </div>
          </form>
          <!-- LOCATION -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Location</span>
            </div>
            {% set location = params.location %}
            <input id="loc-filter" type="text" class="form-control" placeholder="your address here" value="{{ location }}">
          </div>
          <!-- LOCATION RESULTS -->
          <div id="loc-results" class="list-group">
            <!-- add list items here -->
          </div>
        </div>
        <!-- END FILTERS -->

        <!-- RESULTS HERE -->
        <div class="col-md-9" style="background-color:pink;">
          {% if items %}
            <h1> Found {{ count }} items </h1>
            {% for item in items %}
              <p>
                {{ item['description'] }} <br>
                Price: {{ item['price'] }} <br>
                Find it in Wallapop <a href="http://es.wallapop.com/item/{{ item['url'] }}">here</a><br>
              </p>
              <p>
              {% for image in item['images'] %}
                <img src="{{ image['smallURL'] }}" class="rounded">
              {% endfor %}
              </p>
            {% endfor %}
          {% endif %}
        </div>
        <!-- END RESULTS -->

        <!-- FOOTER -->
        <div class="col-md-12" style="background-color:red;">
          FOOTER
        </div>
      </div>
    </div>
  </body>
</html>
